{% extends "user_layout.html" %}

{% block styles %}  {{super()}}
  <style>
   #mainContent{
      margin-left:25px;
      margin-right:25px;
      margin-top:10px;
      padding:25px;
      background:rgba(0,0,0,0.5);
      border-radius: 5px;
    }
  </style>
{% endblock %}


{% block scripts %}
{{super()}}
<script type=text/javascript src=" {{url_for('static', filename='js/vendor/jquery-1.10.2.min.js') }}">
</script>

<script type=text/javascript src=" {{ url_for('static', filename='js/vendor/eventemitter2.min.js') }}">
</script>

<script type=text/javascript src=" {{ url_for('static', filename='js/vendor/roslib.min.js') }}">
</script>

<script type=text/javascript src=" {{url_for('static', filename='js/rosnode.js') }}">
</script>
{% endblock %}

{% block myContent %}


  <div class="container">
    <div class="page-header">
      <h1 style="color:white;">Running ROS Nodes</h1>
    </div>
    <div class="box" id="mainContent">
          {% if bot is not none %}
            
            <div class="panel panel-default" style="padding: 10px;">
              <h4> Console for {{bot.data.ip}} </h4>
            </div>

            <div class="alert alert-warning" id="roscore-alert" style="display:none;">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <p><strong>roscore!</strong> is not running.</p>
              <p>
                <button type="button" class="btn btn-default" aria-label="Left Align" onCLick="return run_roscore('{{bot.data.ip}}')">
                 Run <strong>roscore!</strong>
                </button>

              </p>
            </div>

            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">Node List</div>
              <!-- Table -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody id="nodesList">
                </tbody>
              </table>
            </div>
        {% else %}

            <div class="panel panel-default" style="padding: 10px;"> Not Connected </div>
            
            <div class="panel panel-default" style="padding: 10px;"> 
              <div class="panel-heading">Local search</div>
              <div> Search for robots on the current LAN.</div>
              <div style="padding:15px;">
                <ul id="discoveryConsoleList" class="list-group" style="list-style-type: none;">
                  <li><center><a onclick="return execute_discovery(this, 'discoveryConsoleList', consoleTarget[0], true);">Search</a></center></li>
                </ul>
              </div>
            </div>
            
         {% endif %}
      </div>
</div>
{% endblock %}
